
{{#if person.deleted }}

  <li class="deleted">
    <h3 {{ action "showDOB"  person on="click"}}>{{person.name}}</h3>
    <p class="dob" data-id={{person.id}}>
      DOB: {{person.date_of_birth}}
    </p>
    <button class="restore" {{action "restorePerson" person}} >Restore</button>
  </li>

{{else}}
  <li>
    {{#if isEditing}}
      <form class="" {{action "saveEdit" on="submit"}}>
        {{input type="text" id="name"value=person.name  }}
        {{input type="date" id="dob" value=person.date_of_birth}}
        <button type="submit">Save</button>
      </form>
    
      
    {{else}}
      <h3 {{ action "showDOB"  person on="click"}}>{{person.name}}</h3>
      <p class="dob" data-id={{person.id}}>
        DOB: {{person.date_of_birth}}
      </p>
      <button class="edit" {{action "editPerson"  person}} name="button">Edit</button>
      <button class="delete" {{action "deletePerson" person}}>Delete</button>
    {{/if}}
  </li>
  
{{/if}}

